*, *::before, *::after {
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    cursor: pointer;
}

@font-face {
    font-family: allexa;
    src: url('./assets/fonts/Allexa.ttf')
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bday-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;

    font-family: allexa;
    font-style: italic;
    font-size: calc(1rem + 2vw);
}

.bday-msg h2 {
    letter-spacing: .5rem;
}

.diamond-shuxian {
    font-style: normal;
    font-size: calc(1rem + 2vw);
}
